:root {
body {
    background: url('/src/assets/background.png') center/cover,
    linear-gradient(#000000, #1E1E1E, #000000);
    font-family: sans-serif;
    color: #F2F2F2;
    height: 100vh;
  }

  .bgImage75,
  .bgImage90 {
    width: 455px;
    height: 100px;
  }

  .bgImage75 {
    background-color: #9D94D7;
  }

  .bgImage90 {
    background-color: #98E8AB;
  }

  .bgImage75:hover,
  .bgImage90:hover {
    background-color: transparent;
    border: 2px solid;
    color: inherit;
  }

  .bgImage75:hover {
    border-color: #9D94D7;
    color: #9D94D7;
  }

  .bgImage90:hover {
    border-color: #98E8AB;
    color: #98E8AB;
  }

  .game-timer {
    color: #FFFFFF;
    background-color: #282c34;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
  }

  .countdown {
    font-size: 20em;
    margin: 0;
    color: #98E8AB;
  }

  .start-message {
    font-size: 1.5em;
    margin-top: 10px;
  }

  .headingNum {
    font-size: 15em;
    margin: 0;
    color: #98E8AB;
  }
}

.boxOut {
  border-radius: 36px;
  background: rgba(217, 217, 217, 0.10);
  box-shadow: 0px 4px 33px 0px rgba(0, 0, 0, 0.25);
  height: 90vh;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .boxOut {
    backdrop-filter: blur(11.5px);
    background: rgba(217, 217, 217, 0.10);
  }
        .numberBox {
          backdrop-filter: blur(18px);
          background: rgba(217, 217, 217, 0.10);
        }
}

.boxBingo {
  height: 100vh;
}

.numberBox{
border-radius: 36px;
  background: rgba(0, 0, 0, 0.18);
  box-shadow: 0px 4px 33px 0px rgba(0, 0, 0, 0.25) inset;
    margin: 16px;
}